<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Калькулятор калорий - Samin</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/calc__style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/animation.css') }}"
    />
  </head>
  <body>
    <div class="calc__wrapper">
      <div class="calc">
        <h2>Калькулятор калорий</h2>
        <form id="calculatorForm">
          <div class="form-group">
            <label for="name">Имя:</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Введите ваше имя"
              required
            />
          </div>

          <div class="form-group">
            <label>Пол:</label>
            <div class="radio-group">
              <label>
                <input
                  type="radio"
                  id="male"
                  name="gender"
                  value="male"
                  required
                />
                Мужской
              </label>
              <label>
                <input type="radio" id="female" name="gender" value="female" />
                Женский
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="age">Возраст:</label>
            <input
              type="number"
              id="age"
              name="age"
              placeholder="Возраст"
              required
            />
          </div>

          <div class="form-group">
            <label for="weight">Вес (кг):</label>
            <input
              type="number"
              id="weight"
              name="weight"
              placeholder="Вес"
              required
            />
          </div>

          <div class="form-group">
            <label for="height">Рост (см):</label>
            <input
              type="number"
              id="height"
              name="height"
              placeholder="Рост"
              required
            />
          </div>

          <div class="form-group">
            <label for="product__name">Продукт:</label>
            <input
              type="text"
              id="product__name"
              name="product__name"
              placeholder="Например: фисташки"
              required
            />
          </div>

          <button type="button" id="show__btn1" class="calc-button">
            Посчитать
          </button>
        </form>
      </div>

      <div class="calc__result">
        <div id="error__calc-result"></div>
        <div id="result__calc-div"></div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/calc.js') }}"></script>
  </body>
</html>
